<!DOCTYPE html>
<html>

<head profile="http://www.w3.org/2005/10/profile">
	<link rel="icon" type="image/png" href="melt-icon.png" />
	<meta charset="UTF-8">
	<title>Melt</title>

	<link rel="stylesheet" href="../node_modules/semantic-ui-css/semantic.min.css">
	<!--  Incosolata Font -->
	<link href="fonts/inconsolata.css" rel="stylesheet">

	<link rel="stylesheet" href="style.css">

	<!-- jquery -->
	<!-- <script src="../node_modules/jquery/dist/jquery.min.js"></script> -->
	<script>window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.min.js');</script>


</head>

<body>
	<div id="electron-titlebar" class="drag"></div>

	<div id="app">

		<div class="ui grid">
			<div class="three column row" style="padding-bottom:0px">
				<div class="left floated column">

					<div class="headerContainer">

						<h2 class="ui header">
							<i class="fire icon"></i>
							<div class="content">Melt
								<div class="sub header">a Polargraph Controller</div>
							</div>
						</h2>

					</div><!-- headerContainer -->
				</div>

				<div class="column"></div>

				<div class="right floated column statusContainer">
					<div class="status">status
						<span id="statusAlert">
							<i class="statuserror small exclamation circle icon"></i>
						</span>
					</div>
				</div>
			</div>

		</div>

		<div class="ui stackable equal height grid columnsContainer">
			<div id="leftColumn" class="six wide column">
				<div id="" class="dashboardElement">

					<div class="ui secondary pointing four item menu">
						<a data-panel="control" class="active item main-menu-link"><i class="idea icon"></i></a>
						<a data-panel="tools" class="item main-menu-link"><i class="gamepad icon"></i></a>
						<a data-panel="console" class="item main-menu-link"><i class="terminal icon"></i></a>
						<a data-panel="settings" class="ui item main-menu-link"><i class="settings icon"></i></a>
					</div>

					<div class="dashboardMenuContent">

						<!-- CONTROL -->
						<div id="content-control">
							<div class="ui fluid vertical labeled icon buttons">

								<button class="ui button deactivateToggle disabled" id="set-home-postion">
									<i class="heart icon"></i>Set Default Home
								</button>

								<button class="ui teal button myToggle" id="set-custom-postion">
									<i class="map icon"></i>Set Custom Home
								</button>

								<button class="ui button myToggle disabled" id="control-pen-position">
									<i class="bug icon"></i>Control Pen Position
								</button>

								<button class="ui button deactivateToggle disabled" id="return-home">
									<i class="undo icon"></i>Return Home
								</button>

								<button class="ui button mypopup deactivateToggle" id="pen-lift" data-html="<div class='header'>Pen Lift</div><div class='content'><pre>C14,UP,END</pre>Moves the pen lift servo motor into the up, raised, or lifted position. The parameter behaves in the same way as C13.</div>">
									<i class="pencil icon"></i>Pen Lift
								</button>

								<button class="ui button mypopup deactivateToggle" id="pen-drop" data-html="<div class='header'>Pen Drop</div><div class='content'><pre>C13,DOWN,END</pre>oves the pen lift servo motor into the down, lowered, or drawing position, with the pen tip against the page. The machine has a set up position saved in EEPROM, but given an integer parameter, it moves the servo to that position instead, and will use that position as up until the machine is next reset - even if it is not stated explicitly on subsequent C13 calls. Use C45 to save specific lift servo positions to EEPROM.</div>">
									<i class="map pin icon"></i>Pen Drop
								</button>



							</div>
						</div>

						<!-- TOOLS -->
						<div id="content-tools">

							<div id="editor-container">
								<!-- <div class="ui attached basic segment" id="editor-segment"> -->


									<div class="ui four icon buttons">
										<!-- Code Tools and reference -->
										<div class="ui dropdown button">
											<i class="code icon"></i>
											<div class="menu">
												<div class="item codeTools" data-toolname="line" data-toolaction="insert" >			<i class="window minimize icon"></i>Draw Line</div>
												<div class="item codeTools" data-toolname="ellipse" data-toolaction="insert" >		<i class="circle outline icon"></i>Draw Ellipse</div>
												<div class="item codeTools" data-toolname="shape" data-toolaction="insert" >		<i class="star outline icon"></i>Draw Shape</div>
												<div class="item codeTools" data-toolname="penposition" data-toolaction="insert" >	<i class="compass outline icon"></i>Current Pen Position</div>
												<div class="item codeTools" data-toolname="width" data-toolaction="insert" >		<i class="compass outline icon"></i>Machine Width</div>
												<div class="item codeTools" data-toolname="height" data-toolaction="insert" >		<i class="compass outline icon"></i>Machine Height</div>
											</div>
										</div>

										<!-- Open Examples -->
										<div class="ui dropdown button">
											<i class="lightbulb icon"></i>
											<div class="menu">
												<div class="item" v-for="file of polargraph.ui.examplesFiles" @click="Polargraph.openExample(file.filename)">{{ file.name }}</div>
											</div>
										</div>

										<!-- Toggle Only Sketching -->
										<div class="item checkbox-container">
											<div class="ui checkbox">
												<input id="isOnlySketching" type="checkbox" v-model="polargraph.ui.isOnlySketching">
												<label for="isOnlySketching" >Sketch Only</label>
											</div>
										</div>

										<!-- Run Code Button -->
										<div class="ui button" id="run-code-button"><i class="play icon"></i></div>
									</div>

									<div class="editor-holder">
										<pre id="editor"></pre>
									</div>


									<div class="ui segment" id="preview-console">
										<div class="ui top attached label">Console <button id="console-clear" class="ui right floated mini button">Clear</button></div>
										<div id="preview-console-content">
										</div>

									</div>


								<!-- </div> -->



							</div> <!-- editor container -->


							<div id="tools-buttons">


								<div class="ui fluid vertical labeled icon buttons">
									<!-- Free Draw -->
									<button class="ui button myToggle" id="tools-free-draw">
										<i class="paint brush icon"></i>Free Drawing
									</button>

									<!-- code -->
									<button class="ui button deactivateToggle" id="reveal-code">
										<i class="code icon"></i>Code
									</button>


									<!-- move -->
									<button class="ui button myToggle" id="keyboard-control">
										<i class="keyboard icon"></i> Keyboard Control
									</button>

								</div><!-- fluid buttons -->


								<div id="keyboard-control-container">
									<!-- <div class="ui segment"> -->

									<h4>Steps</h4>
									<p>Control position with keyboard arrows. Toggle pen with spacebar.</p>

									<div class="ui right labeled input">
										<input type="number" id="keyboard-input-mm" v-model="keyboardMM">
										<div class="ui basic label">
											mm
										</div>
									</div>

									<div class="ui right labeled input">
										<input type="number" id="keyboard-input-px" v-model="keyboardPx">
										<div class="ui basic label">
											px
										</div>
									</div>

									<div class="ui right labeled input">
										<input type="number" id="keyboard-input-steps" v-model="keyboardSteps">
										<div class="ui basic label">
											steps
										</div>
									</div>

									<!-- </div> -->
								</div>


							</div><!-- tools buttons -->
						</div><!-- content-tools -->



						<!-- CONSOLA+QUEUE -->
						<div id="content-console">
							<!-- CONSOLE -->
							<div class="console-container">
								<h5>Console</h5>
								<div class="" id="console"></div>
								<div id="consoleInputContainer">
									<input id="consoleInput" type="text" placeholder=">_">
								</div>
							</div>

							<div class="ui divider"></div>

							<!-- QUEUE -->
							<div class="queue-container">
								<h5>Queue</h5>
								<div id="queue">
									<div id="queue-last-item" class='queue item'><span class='cmd'>+<span id="queueRemaining"></span> Commands remaining</span></div>
								</div>

								<a id="pause-queue" class="ui labeled icon tiny button"><i class="pause icon"></i>Pause</a>
								<a id="clear-queue" class="ui labeled icon tiny button"><i class="trash icon"></i>Clear</a>

								<div id="queue-progress" class="ui small teal progress mypopup" data-html="">
									<div class="bar">
										<!-- <div class="progress"></div> -->
										<!-- uncommenting this would overlay the percent numer -->
									</div>
								</div><!-- progress bar -->
								<div id="elapsed-time"></div>
							</div>

						</div>

						<!-- SETTINGS -->
						<div id="content-settings">

							<h5>Machine</h5>

							<div class="ui fluid right labeled input mypopup" data-html="<div class='header'>Set Machine Size</div><div class='content'><pre>C24,[width],[height],END</pre>Sets the machine's dimensions in millimetres.</div>">
								<div class="ui basic label">Machine Width (mm)</div>
								<input type="number" placeholder="1200" id="inputMachineWidth" v-model="polargraph.machine.widthMM">
							</div>

							<div class="ui fluid right labeled input">
								<div class="ui basic label">Machine Height (mm)</div>
								<input type="number" placeholder="800" id="inputMachineHeight" v-model="polargraph.machine.heightMM">
							</div>

							<div class="ui fluid right labeled input">
								<div class="ui basic label">mm per Rev</div>
								<input type="number" placeholder="32" id="inputMmPerRev" v-model="polargraph.machine.mmPerRev">

							</div>

							<div class="ui fluid right labeled input">
								<div class="ui basic label">Steps per Rev</div>
								<input type="number" placeholder="800" id="inputStepsPerRev" v-model="polargraph.machine.stepsPerRev">

							</div>

							<div class="ui fluid right labeled input">
								<div class="ui basic label">Step Multiplier</div>
								<input type="number" placeholder="16" id="inputStepMultiplier" v-model="polargraph.machine.stepMultiplier">
							</div>

							<div class="ui fluid right labeled input">
								<div class="ui basic label">Pen Down Position</div>
								<input type="number" placeholder="90" id="inputDownPos" v-model="polargraph.machine.downPos">
							</div>

							<div class="ui fluid right labeled input">
								<div class="ui basic label">Pen Up Position</div>
								<input type="number" placeholder="180" id="inputUpPos" v-model="polargraph.machine.upPos">
							</div>

							<div class="ui fluid right labeled input">
								<div class="ui basic label">Max Speed</div>
								<input type="number" placeholder="200" id="inputMaxSpeed" v-model="polargraph.machine.motors.maxSpeed">
							</div>

							<div class="ui fluid right labeled input">
								<div class="ui basic label">Acceleration</div>
								<input type="number" placeholder="400" id="inputAcceleration" v-model="polargraph.machine.motors.acceleration">
							</div>

							<h5>Calculated</h5>

							<div class="ui fluid right labeled input ">
								<div class="ui basic label">MM per Step</div>
								<input disabled type="number" placeholder="0.16" id="inputMmPerStep" v-model="polargraph.machine.mmPerStep">
							</div>

							<div class="ui fluid right labeled input ">
								<div class="ui basic label">Steps Per MM</div>
								<input disabled type="number" placeholder="6.25" id="inputStepsPerMM" v-model="polargraph.machine.stepsPerMM">
							</div>

							<div class="ui fluid right labeled input ">
								<div class="ui basic label">Page Width (steps)</div>
								<input disabled type="number" placeholder="200" id="inputPageWidthSteps" v-model="polargraph.page.width">
							</div>

							<div class="ui fluid right labeled input">
								<div class="ui basic label">Page Height (steps)</div>
								<input disabled type="number" placeholder="400" id="inputPageHeightSteps" v-model="polargraph.page.height">
							</div>

							<div class="ui divider"></div>

							<h5>Machine Configuration</h5>

							<div class="ui fluid buttons">
								<button class="ui button" id="uploadMachineConfig"><i class="upload icon"></i> Upload</button>
								<button class="ui disabled button"><i class="download icon"></i> Download</button>
							</div>

							<h5>Configuration File <label>{{ Polargraph.ui.machineConfigFile.filepath }}</label></h5>
							<div class="ui fluid buttons">
								<button class="ui button" id="saveMachineConfig"><i class="save icon"></i> Save</button>
								<button class="ui button" id="saveAsMachineConfig"><i class="save outline icon"></i> Save As...</button>
								<button class="ui button" id="loadMachineConfig"><i class="folder open icon"></i> Load</button>
							</div>

							<div class="ui divider"></div>

							<h5>More Tools</h5>
							<div class="ui fluid vertical labeled icon buttons">
								<button class="ui button" id="resetEeprom"><i class="bomb icon"></i> Reset EEPROM</button>
							</div>


							<div class="ui divider"></div>
							<h5>Serial</h5>
							<p>Connected to <span id="connected_to"></span></p>
							<button class="ui mini labeled icon button serial_reconnect">
								<i class="road icon"></i>
								New Connection
							</button>

							<div class="ui divider"></div>
							<h5>User Preferences</h5>
							<div class="ui checkbox">
								<input id="checkUpdates" type="checkbox" v-model="checkUpdates">
								<label for="checkUpdates" >Check for Updates</label>
							</div>


						</div>

					</div>
				</div>

			</div> <!-- six wide col -->


			<div id="rightColumn" class="ten wide column">
				<div class="dashboardElement ui segment">
					<div id="dimmerEl" class="ui active dimmer">
						<div id="loaderEl" class="ui text loader">
							Waiting for Polargraph
							</br></br>
							<button class="ui basic inverted mini button serial_reconnect"><i class="road icon"></i>New Connection</button>
						</div> <!-- loader -->
					</div> <!-- dimmer -->

					<div id="canvasSizer">
						<canvas id="myCanvas"></canvas>
					</div>
					<div id="canvasMetaData">
						X: <span class="x"></span>,
						Y: <span class="y"></span><br />
						X: <span class="xmm"></span> mm,
						Y: <span class="ymm"></span> mm<br />
						L Motor: <span class="lmotomm"></span> mm, <span class="lmotosteps"></span> steps<br />
						R Motor: <span class="rmotomm"></span> mm, <span class="rmotosteps"></span> steps<br />
					</div>


				</div> <!-- ui segment -->
			</div> <!-- six wide col -->




		</div> <!-- ui grid -->



		<!-- Serial connection modal -->
		<div class="ui basic modal">
			<div class="ui icon header">
				<i class="road icon"></i>
				Serial Port
			</div>
			<div class="content" style="text-align:center">
				<p>Select the road that leads to the Polargraph</p>
			</div>
			<div class="actions" style="text-align:center" id="serial_connections">


			</div>
		</div>

	</div> <!-- (vue) app -->
</body>

<!-- semantic ui -->
<script src="../node_modules/semantic-ui-css/semantic.min.js"></script>
<!-- vue -->
<script src="vue-2.5.22.js"></script>
<!-- load ace -->
<script src="../node_modules/ace-builds/src-min/ace.js"></script>
<!-- load ace language tools -->
<script src="../node_modules/ace-builds/src-min/ext-language_tools.js"></script>
<!-- victor.js libraries (vector math) -->
<script src="../node_modules/victor/index.js" type="text/javascript"></script>
<!-- fabric.js libraries -->
<script src="../node_modules/fabric/dist/fabric.js" type="text/javascript"></script>
<!-- parse pollar graph controller config file -->
<script src="ParsePolargraphControllerConfig.js" type="text/javascript"></script>
<!-- melt script -->
<script src="melt.js" type="text/javascript"></script>

</html>
